@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.imageBox {
	max-width:400px;
	width: 100%;
	margin: 0 auto;
}

.m-img {
	font-size:0;
}

.li-img {
	display:inline-block;
	vertical-align:top;
}

.a-img {
	display:block;
	width:auto;
	text-decoration:none;
	margin:5px;
}

.screen {
	position:relative;
	overflow:hidden;
	width: 290px;
	height: 290px; 
	border-radius: 70%;
	overflow: hidden;
	margin-bottom: 20px;
	margin: 0 auto;
	border:2px solid #eaeaea;
}

.imageTextTop {
	position:absolute;
	bottom:150%;
	left:64px;
	z-index:2;
	color:#fff;
	font-size:20px;
	transition:all .35s;
}

.imageTextBottom {
	position: absolute;
	top:150%;
	left:83px;
	z-index:2;
	color:#fff;
	font-size:20px;
	transition:all .35s;
}

.profile {
	width: 100%;
    height: 100%;
    object-fit: cover;
    display:block; 
}

ul > li > a .screen img {
	width: 100%;
}

ul > li > a:hover .imageTextTop {
	bottom:52%;
}

ul > li > a:hover .imageTextBottom {
	top:52%;
}

ul > li > a .screen::after {
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	z-index:1;
	opacity:0;
	transition:all .35s;
}

ul > li > a:hover .screen::after {
	opacity:1;
}  

.input-css {
	margin: 0 auto;
	max-width:83%;
	display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-css2 {
	margin: 0 auto;
	max-width:83%;
	display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #ddd;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.control-label {
	display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 47px;
}


.btn-block {
	width:90%;
	margin: 0 auto;
	max-width: 83%;
}

.btn-info {
	background-color:#ffb500; 
	border-color:#ffb500;
	max-width: 100%;
} 

.btn-default {
	background-color:#fff; 
	border-color:#fff;
	max-width: 100%;
}

.btn-default:hover {
	background-color:#c0c0c0; 
	border-color:#c0c0c0;
}

.btn-info:hover {
	background-color:#eaa400; 
	border-color:#eaa400;
}

.btn-icon-split {
	margin-left: 236px;
    margin-bottom: -72px
}

#memberName {
	margin-right: 202px;
	max-width:51%;
}

#imgC {
	max-width: 100%;
    margin-top: 16px;
}