@charset "UTF-8";
/* addForm.css */

/* 기본 css  */
input:focus,
input:active {outline: none;}
textarea {resize: none;}

/* 영수증 이미지 영역 */
.imgArea {max-height: 540px;}
.form-row > .col,
.form-row > [class*="col-"] {padding: 5px;}
.fa-image.hidden {display: none;}

/* 아이템 리스트 */
.accordion > .card > .card-header {
	height: 2.5rem;
    padding: 0;
}

.fa-angle-down {
	font-size: 1.8rem;
    color: #858796;
    transition: all ease 1s;
}

.fa-angle-down.open {
    transform: rotate(180deg);
    transition: all ease 1s;
}

.showItem:focus,
.showItem:hover,
.showItem:active {
	border: none;
	background: none;	
}

/* .card-body {
    padding: 1.25rem 1.25rem 0.5rem;
} */

/* 아이템 추가/ 삭제 버튼 */
.fa-plus-circle {font-size: 2rem;}
#itemWrap > .form-group{margin-bottom: 0;}
.fa-minus-circle {
	position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1.5rem;
}


/* 반응형: 가로 960px 이하 */
@media (max-width: 990px) {
	/* 영수증 이미지 영역을 제일 위로 */
	.imgArea {order: 1;}
	.formArea {order: 2;}
}