@charset "UTF-8";

#calendarBtnBox i {
	color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

#yearMonth {
	color: rgba(0, 0, 0, 0.9);
}

#otherBtnBox {
	gap: 5px;
}

.daySel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}
.daySel div:first-child, .daySel div:last-child {
    background: #ffb500;
}
.daySel div {
    color: white;
    font-size: 13pt;
    border-radius: 15px;
    background: #2768fa;
    text-align: center;
}

.dateSel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}
.dateSel div.infoBox {
    min-height: 90px;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #b5b1b1;
}
.dateSel div.infoBox div {
	cursor: pointer;
}

.date {
	width: 24px;
}

.today {
	color: rgba(0, 0, 0, 1);
	background: rgba(0, 255, 100, 0.51);
}

.incomeCount {
	min-width: 21px;
	border: 1px solid #2768fa;
	font-size: 9pt;
}

.incomeValue {
	color: #2768fa;
	font-size: 9pt;
}

.expenditureCount {
	min-width: 21px;
	border: 1px solid #ffb500;
	font-size: 9pt;
}

.expenditureValue {
	color: #ffb500;
	font-size: 9pt;
}