@charset "UTF-8";

#calendarBtnBox i {
	color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

#yearMonth {
	color: rgba(0, 0, 0, 0.9);
}

#otherBtnBox {
	gap: 5px;
}

.daySel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}
.daySel div:first-child {
    background: rgba(231, 76, 60, 0.32);
}
.daySel div:last-child {
	background: rgba(52, 152, 219, 0.24);
}
.daySel div {
    font-size: 15pt;
    border-radius: 5px;
    background: rgba(241, 196, 14, 0.2);
    text-align: center;
}

.dateSel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.dateSel div.infoBox {
    min-height: 90px;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(2, 224, 224, 0.51);
}
.dateSel div.infoBox {
	cursor: pointer;
}

.today {
	color: rgba(0, 0, 0, 1);
	background: rgba(0, 255, 100, 0.51);
}

.countBox {
	gap: 10px;
}

.incomeCount {
	border: 2px solid blue;
}

.expenditureCount {
	border: 2px solid red;
}