@charset "UTF-8";

#content {
	display: flex;
}

#content article:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#content article:first-child {
	width: 30%;
}
#content article:last-child {
	width: 70%;
}

#chartSection {
	height: 100%;
}

#forumSection {
	height: 100%;
}