@charset "UTF-8";

.publicAccountBox{
	padding: 40px;
    margin: 15px;
    border: solid #0d6efd 2px;
    border-radius: 10px;
}

.ellipsis{
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    Text-align: center;
    line-height: 3;
    font-size: 18px;
   
}

.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin: auto;
    
}

.box2 {
  width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}