@charset "UTF-8";

.inputbox {
    padding: 15px;
    margin: 15px 0px 20px 45px;
    border: solid #0d6efd 2px;
    border-radius: 10px;
    width: 65%;
}

.plusbox {
	float: left;
}

.choice{
	align-content: center;
    width: 40%;
    margin: 0 auto;
}

.btn1 {
	overflow: hidden;
    width: 80px;
    height: 50px;
    Text-align: center;
    font-size: 18px;
    padding: 0px;
    margin: 15px;
    border: solid #0d6efd 2px;
    border-radius: 10px;
}

.plusbtn:hover {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}

.plusbtn {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	overflow: hidden;
	margin: 15px;
}

.plusImage {
	width: 100%;
}

.clearboth {
	clear: both;
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}