@charset "UTF-8";
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#99CCFF, #99CCFF, white, white );
}
.container
{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px rgba(0,0,0,0.06);
    display: flex;
}

.container .leftSide
{
    position: relative;
    flex: 30%;
    background: #99cccc;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.container .rightSide
{
    position: relative;
    flex: 70%;
    background: #fff;
}
.container .rightSide::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/paystory.jpg");
    opacity: 0.2;
}
.header
{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.userimg
{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_icons
{
    display: flex;
}
.nav_icons li
{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}
.search_chat
{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.search_chat div
{
    width: 100%;
}
.search_chat div input
{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}
.search_chat div input::placeholder
{
    color: #bbb;
}
.search_chat div ion-icon
{
    position: absolute;
    left:30px;
    top: 14px;
    font-size: 1.2em;
}
.chatlist
{
    position: relative;
    height: calc(100% - 110px); /* 60 + 50 px*/
    overflow-y: auto;
}
.chatlist .block
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}
.chatlist .block.active
{
    background: #ebebeb;
}
.chatlist .block:hover
{
    background: #f5f5f5;
}
.chatlist .block .imgbox
{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.chatlist .block .details
{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listHead
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chatlist .block .details .listHead h4
{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}
.chatlist .block .details .listHead .time
{
    font-size: 0.75em;
    color: #aaa;
}
.chatlist .block .details .listHead .time
{
    color: #111;
}
.chatlist .block.unread .details .listHead .time
{
    color: #f00;
}
.message_p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message_p p
{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message_p b
{
    background: #f00;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.imgText
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgText h4
{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}
.imgText h4 span
{
    font-size: 0.8em;
    color: #555;
}
/* chatBox */
#chatBox
{
    position: relative;
    width: 100%;
    height: calc(100% - 120px); /* 60 + 60 = 120px */
    padding: 50px;
    overflow-y: auto;
}


.msgBox	/* 메시지 박스 */
{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.msgBox span	/* 인사말 */
{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #0d6efd;
    border-radius: 10px;
    font-size: 0.9em;
}
.msgBox span::before	/* 모서리 */
{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #0d6efd 0%, #0d6efd 50%, transparent 70%, transparent);
}
/* .message p span 시간
{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
} */
.send
{
    justify-content: flex-end;
}
.receive
{
    justify-content: flex-start;
}
.receive span
{
    background: #ced4da;
    text-align: left;

}
.msgBox.receive span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #ced4da, #ced4da, transparent 60%, transparent);
}
#chatForm
{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#chatForm ion-icon
{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}
#chatForm ion-icon:nth-child(1)
{
    margin-right: 10px;
}
#chatForm input
{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}