@charset "UTF-8";

.publicAccountBox {
    padding: 25px;
    margin: 15px;
    border: solid #d1d3e2 2px;
    border-radius: 10px;
}

.plusBox{
	height:50px;
}

.publicAccountBox:hover {
 opacity:0.7;
}

#mainPlusbtn:hover {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}

.publicBox {
    width: 90%;
    height: 80%;
    background-color: #fff;
    border: solid #d1d3e2 1px;
    border-radius: 10px;
    margin: 20px auto;
}



.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

h5{
	color: #4e73df !important;
	font-weight: 700 !important;
	margin-top:10px;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
}

.ellipsis{
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    Text-align: center;
    line-height: 3;
    font-size: 18px;
   
}

#mainPlusBtn{
	width:100%;
	height:100%;
    padding: auto;
    border: solid #d1d3e2 0px;
  
}

.box {
    width: 135px;
    height: 135px;
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin: auto;
}

.ellipsisplus1{
	display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    Text-align: center;
    line-height: 5.3;
    font-size: 18px;
    opacity: 0;
    border: solid #d1d3e2 1px;
}
.plusimage{
	width: 100%;	
}

.ellipsisplus2{
	display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    Text-align: center;
    line-height: 2.7;
    font-size: 18px;
    opacity: 0;
}

.plusbox1 {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin: auto;
}

.plusbox2{
	width: 60px;
    height: 60px;
    opacity: 0;
}

.box2 {
  width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.participantPagePerson{
	height: 85px;
}

.ownerImage{
	 object-fit: cover;
	 border-radius: 70%;
	 width: 60px;
	 height: 60px;
	 margin: 10px;
	 border: solid 3px gold;
}

.profileImage{
	 object-fit: cover;
	 border-radius: 70%;
	 width: 50px;
	 height: 50px;
	 margin: 14px;
}

.profileBox{
	width: 20%;
	float: left;
	
}

.profileBox2{
	width:20%;
	float: left;
	margin-left: 29px;
	margin-top: 20px;
	margin-right: -4px;
	height: 65px;
	font-size: large;
}

.clickbox{
	margin-top: 22px;
	cursor: pointer;
}

#shareClickSpan{
	cursor: pointer;
}

#array{
	float: left;
	margin-top: -6px;
}
