<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.AourZ.PayStory.dao.IAccountBookDAO">
	<!-- 수입 내역 추가 -->
	<insert id="insertIncome" parameterType="com.AourZ.PayStory.model.IncomeVO" useGeneratedKeys="true" keyProperty="incomeNo">
		INSERT INTO income 
			(incomeDate, incomeSource, incomeMemo, incomeAmount, tagNo) 
		VALUES
			(#{incomeDate}, #{incomeSource}, #{incomeMemo}, #{incomeAmount}, #{tagNo})
	</insert>
</mapper>