<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.AourZ.PayStory.dao.IBoardDAO" >
	<resultMap type="com.AourZ.PayStory.model.member.MemberVO" id="member">
		<result column="memberNo" property="memberNo"/>
		<result column="memberName" property="memberName"/>
	</resultMap>
	
	<resultMap type="com.AourZ.PayStory.model.board.BoardCategoryVO" id="boardCtg">
		<result column="boardCategoryNo" property="boardCategoryNo"/>
		<result column="boardCategoryName" property="boardCategoryName"/>
	</resultMap>
	
	<resultMap type="com.AourZ.PayStory.model.board.BoardVO" id="board">
		<result column="boardNo" property="boardNo"/>
		<result column="boardTitle" property="boardTitle"/>
		<result column="boardDate" property="boardDate"/>
		<result column="boardViews" property="boardViews"/>
		<result column="boardContents" property="boardContents"/>
		<result column="boardFile" property="boardFile"/>
		<result column="memberNo" property="memberNo"/>
		<result column="boardCategoryNo" property="boardCategoryNo"/>
		<result column="boardCategoryName" property="boardCategoryName"/>
		<result column="memberName" property="memberName"/>
	</resultMap>

	<!-- 게시판 목록: 전체 -->
	<select id="getList" resultMap="board">
		SELECT * FROM board ORDER BY boardDate DESC
	</select>

	<!-- 게시판 목록 : 카테고리별 -->
	<select id="getCategoryList" parameterType="String" resultMap="board">
		SELECT * FROM board WHERE boardCategoryNo = #{boardCategoryNo} ORDER BY boardDate DESC
	</select>
	
	<!-- 게시글 작성자 회원 이름 조회 -->
	<select id="selectMemberName" parameterType="String" resultType="String">
		SELECT memberName
		FROM member
		WHERE memberNo = #{memberNo}
	</select>
	
	<!-- 게시판 카테고리 이름 조회 -->
	<select id="selectBoardCategoryName" parameterType="String" resultType="String">
		SELECT boardCategoryName FROM board_category WHERE boardCategoryNo = #{boardCategoryNo}
	</select>

	<!-- 게시판 조회 -->
	<select id="boardView" parameterType="int" resultType="com.AourZ.PayStory.model.board.BoardVO">
		SELECT * FROM board WHERE boardNo = #{boardNo}
	</select>

	<!-- 게시글 작성 -->
	<insert id="createBoard" parameterType="com.AourZ.PayStory.model.board.BoardVO" useGeneratedKeys="true" keyProperty="boardNo" >
		INSERT INTO board 
			(boardTitle, boardContents, boardFile, boardCategoryNo, memberNo) 
		VALUES
			(#{boardTitle}, #{boardContents}, #{boardFile}, #{boardCategoryNo}, #{memberNo})
	</insert>

	<!-- 게시글 조회수 추가 -->
	<update id="updateViews" parameterType="map">
		UPDATE board 
		SET boardViews=#{boardViews} 
		WHERE boardNo=#{boardNo}
	</update>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.AourZ.PayStory.model.board.BoardVO">
		UPDATE board 
		SET boardTitle=#{boardTitle}, boardContents=#{boardContents}, boardFile=#{boardFile}, boardCategoryNo=#{boardCategoryNo} 
		WHERE boardNo=#{boardNo}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE boardNo=#{boardNo}
	</delete>
	
	<!-- 공지사항 :서정원추가 -->
	<select id="noticeBoardList" resultMap="board" >			
		select * from board where notice = 'Y'
		order by notice, boardDate DESC
		limit 0,2
	</select>
	
</mapper>