<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.AourZ.PayStory.dao.IBoardDAO" >
	<resultMap type="com.AourZ.PayStory.model.member.MemberVO" id="member">
		<result column="memberNo" property="memberNo"/>
		<result column="memberName" property="memberName"/>
	</resultMap>
	
	<resultMap type="com.AourZ.PayStory.model.board.BoardCategoryVO" id="boardCtg">
		<result column="boardCategoryNo" property="boardCategoryNo"/>
		<result column="boardCategoryName" property="boardCategoryName"/>
	</resultMap>
	
	<resultMap type="com.AourZ.PayStory.model.board.BoardVO" id="board">
		<result column="boardNo" property="boardNo"/>
		<result column="boardTitle" property="boardTitle"/>
		<result column="boardDate" property="boardDate"/>
		<result column="boardViews" property="boardViews"/>
		<result column="boardContents" property="boardContents"/>
		<result column="boardFile" property="boardFile"/>
		<result column="memberNo" property="memberNo"/>
		<result column="boardCategoryNo" property="boardCategoryNo"/>
	</resultMap>

	<!-- 게시판 목록: 전체 -->
	<select id="getList" resultMap="board">
		SELECT * FROM board ORDER BY boardDate
	</select>

	<!-- 게시판 목록 : 카테고리별 -->
	<select id="getCategoryList" parameterType="String" resultMap="board">
		SELECT * FROM board WHERE boardCategoryNo = #{boardCategoryNo} ORDER BY boardDate
	</select>

	<!-- 게시판 목록 : 카테고리별 -->
	<select id="boardView" parameterType="int" resultType="com.AourZ.PayStory.model.board.BoardVO">
		SELECT * FROM board WHERE boardNo = #{boardNo}
	</select>

	<!-- 게시글 작성 -->
	<insert id="createBoard" parameterType="com.AourZ.PayStory.model.board.BoardVO" useGeneratedKeys="true" keyProperty="expenditureNo" >
		INSERT INTO board 
			(boardTitle, boardContents, boardFile, boardCategoryNo, memberNo) 
		VALUES
			(#{boardTitle}, #{boardContents}, #{boardFile}, #{boardCategoryNo}, #{memberNo})
	</insert>
	
	<!-- 공지사항 :서정원추가 -->
	<select id="noticeBoardList" resultMap="board" >			
		select * from board where notice = 'Y'
		order by notice, boardDate desc
		limit 0,2
	</select>
	
</mapper>