<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="memberMapper"> -->
 <mapper namespace="com.AourZ.PayStory.dao.MemberDAO">
	<resultMap type="com.AourZ.PayStory.model.MemberVO" id="MemberVOResultMap">
		<result property="memberNo" column="memberNo" />
		<result property="memberName" column="memberName" />
		<result property="memberEmail" column="memberEmail" />
		<result property="memberPwd" column="memberPwd" />
		<result property="memberImage" column="memberImage" />
	</resultMap>	
	
	<!-- 회원가입 -->
	<insert id="register" parameterType="com.AourZ.PayStory.model.MemberVO">
		INSERT INTO member(
			memberNo,
			memberName,
			memberEmail,
			memberPwd
			) VALUES(
			#{memberNo},
			#{memberName},
			#{memberEmail},
			#{memberPwd}
			)
	</insert>	
	
	<!-- 닉네임중복 -->
	<select id="nameCnt" parameterType="com.AourZ.PayStory.model.MemberVO" resultType="java.lang.Integer">
		<![CDATA[
			select
				count(*)
			from
				member
			where
				memberName = #{memberName}
		]]>	
	</select> 
	
	<!-- 로그인 -->
	<select id="login" resultMap="MemberVOResultMap">
		select * from member where memberEmail = #{memberEmail}
	</select>
	
	<!-- 이메일인증 -->
	<insert id="createAuthKey">
		INSERT INTO member_auth VALUES(#{memberEmail}, #{authKey})
	</insert>

	<update id="memberAuth">
		<![CDATA[UPDATE member SET memberAuth = 1 
					WHERE (SELECT COUNT(*) 
					FROM member_auth 
					WHERE memberEmail = #{memberEmail}) > 0]]>
	</update>
	
	<!-- 비밀번호찾기 -->
	<update id="findPw" >
		update member set memberPwd = #{memberPwd} where memberEmail = #{memberEmail} and memberName = #{memberName}
	</update>

	<select id="findPwCheck" resultType="int">
		select count(*) from member where memberEmail = #{memberEmail} and memberName = #{memberName}
	</select>
	
	<!-- 프로필수정 -->
	<update id="infoUpdate">
		update member set memberName = #{memberName}
	</update>
	
	<select id="pwCheck" resultType="String">
		select memberPwd from member where memberEmail = #{memberEmail}
	</select>
	
	<update id="pwUpdate">
		update member set memberPwd = #{memberPwd} where memberEmail = #{memberEmail}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>