<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.AourZ.PayStory.dao.IShareAccountDAO">

	<resultMap id="AccountBookList" type="com.AourZ.PayStory.model.accountBook.AccountBookVO">
		<result property="accountBookNo" column="accountBookNo" />
		<result property="accountBookTitle" column="accountBookTitle" />
		<result property="accountBookDescribe" column="accountBookDescribe" />
		<result property="accountBookDate" column="accountBookDate" />
		<result property="isShared" column="isShared" />
		<result property="memberNo" column="memberNo" />
	</resultMap>


	<resultMap id="MemberList" type="com.AourZ.PayStory.model.member.MemberVO">
		<result property="memberNo" column="memberNo" />
		<result property="memberName" column="memberName" />
		<result property="memberEmail" column="memberEmail" />
		<result property="memberPwd" column="memberPwd" />
		<result property="memberImage" column="memberImage" />
		<result property="memberAuth" column="memberAuth" />
		<result property="memberRank" column="memberRank" />
		<result property="memberJoinDate" column="memberJoinDate" />
		<result property="memberSanctionTime" column="memberSanctionTime" />
	</resultMap>



	<!-- 공유가계부 메인화면 조회 -->


	<select id="selectShareAccountBookNo" parameterType="String"
		resultMap="AccountBookList">
		SELECT * FROM account_book
		WHERE accountBookNo IN
		(
		SELECT accountBookNo FROM share_account_book
		WHERE participant = #{memberNo}
		UNION ALL
		SELECT accountBookNo FROM account_book
		WHERE memberNo = #{memberNo} and isShared = 1
		)
		Order by accountBookNo ASC
	</select>

	<select id="selectShareAccountOwner" parameterType="int"
		resultType="com.AourZ.PayStory.model.member.MemberVO">
		SELECT *
		FROM member
		WHERE memberNo = 
		(
		SELECT memberNo FROM account_book 
		WHERE accountBookNo = #{accountBookNo}
		)
	</select>

	<select id="selectShareAccountParticipant" parameterType="int" 
		resultMap="MemberList">
		SELECT *
		FROM member 
		WHERE
		memberNo IN 
		(
		SELECT participant From share_account_book 
		WHERE accountBookNo = #{accountBookNo})
	</select>



	<!-- 공유가계부 전용 데이터 등록 -->
	
	<insert id="createAccountBook"
		parameterType="com.AourZ.PayStory.model.accountBook.AccountBookVO">
		INSERT INTO account_book (accountBookTitle, memberNo,
		isShared)
		VALUES (#{accountBookTitle}, #{memberNo}, #{isShared})
	</insert>

	<insert id="createShareAccountBook"
		parameterType="com.AourZ.PayStory.model.accountBook.ShareAccountBookVO">
		INSERT
		INTO share_account_book
		(
		owner,
		participant,
		accountBookNo
		)
		VALUES
		(
		#{owner},
		(SELECT memberNo FROM member WHERE
		memberEmail=#{participant}),
		(SELECT MAX(accountBookNo) FROM
		account_book WHERE memberNo =#{owner})
		)
	</insert>

	<insert id="createShareBudget"
		parameterType="com.AourZ.PayStory.model.accountBook.ShareBudgetVO">
		INSERT INTO account_book_budget
		(
		budgetDate,
		budgetAmount,
		accountBookNo
		)
		VALUES
		(
		(SELECT
		DATE_FORMAT(now(),'%Y-%m-%d')),
		#{budgetAmount},
		(SELECT
		MAX(accountBookNo) FROM account_book WHERE memberNo =#{owner})
		)
	</insert>


	<!-- 회원가입되어 있는 참여자인지 확인 -->
	<select id="existParticipant" parameterType="String" resultType="String">
		SELECT memberNo FROM member WHERE memberEmail=#{participantNo}
	</select>
	
	<!-- 공유가계부 참여자 삭제 추가 -->
	<delete id="deleteParticipant" parameterType="String">
		DELETE FROM share_account_book WHERE participant = #{participantNO}
	</delete>
	
	<!-- 공유가계부 참여자 1명 삭제했을때 가계부도 삭제 -->
	<delete id="deleteAccountBookWhenParticipantNull" parameterType="int">
		DELETE FROM account_book WHERE accountBookNo = #{accountBookNo}
	</delete>
	
	<!-- 공유가계부 참여자 추가 -->
	<insert id="addShareAccountParticipant" parameterType="com.AourZ.PayStory.model.accountBook.ShareAccountBookVO">
		INSERT INTO share_account_book
		(
		owner,
		participant,
		accountBookNo
		)
		VALUES
		(
		#{owner},
		(SELECT memberNo FROM member WHERE
		memberEmail=#{participant}),
		#{accountBookNo}
		)
	</insert>


	<!-- <select id="" resultMap="createAccountBook" resultType=""></select> -->


</mapper>